@model SistemaRentabilidad.ViewModels.WsVM
@{
    ViewBag.Title = "Eliminar Planilla";
}

<h2 class="text-center">Eliminar Planilla</h2>
<hr style="margin-top: 10px;margin-bottom: 10px;" />
<h3 class="text-center text-danger">¿Está seguro de eliminar esta Planilla?</h3>
<h4 class="text-center">Esta acción no podrá deshacerse.</h4>

<head>

    <style>
        .table {
            table-layout: fixed !important;
        }

        .mes {
            text-transform: capitalize !important;
            background: none !important;
            border: none !important;
            width: 150px !important;
        }

        legend {
            margin-bottom: 2px !important;
            font-size: inherit !important;
        }

        .full {
            background-size: contain !important;
        }

        #resumentabla td {
            border-color: #252627 !important;
            background: white !important;
            line-height: 15px !important;
        }

        #nueva td {
            border-color: #252627 !important;
            background: white !important;
            line-height: 15px !important;
        }

        #ingresotabla td {
            border-color: #252627 !important;
            background: white !important;
            line-height: 15px !important;
        }

        #encabezadostabla td {
            border-color: #252627 !important;
            line-height: 15px !important;
        }

        #costotabla td {
            border-color: #252627 !important;
            background: white !important;
            line-height: 15px !important;
        }

        #gastotabla td {
            border-color: #252627 !important;
            background: white !important;
            line-height: 15px !important;
        }

        #otrotabla td {
            border-color: #252627 !important;
            background: white !important;
            line-height: 15px !important;
        }

        #ingresotabla th {
            border-color: #252627 !important;
            background: white !important;
            line-height: 15px !important;
        }

        #costotabla th {
            border-color: #252627 !important;
            background: white !important;
            line-height: 15px !important;
        }

        #gastotabla th {
            border-color: #252627 !important;
            background: white !important;
            line-height: 15px !important;
        }

        #otrotabla th {
            border-color: #252627 !important;
            background: white !important;
            line-height: 15px !important;
        }


        #titulotabla th {
            border-color: #252627 !important;
            background: darkkhaki !important;
        }

        #titulotabla td {
            border-color: #252627 !important;
            background: white !important;
        }

        #nueva th {
            border-color: #252627 !important;
            background: white !important;
            line-height: 15px !important;
        }

        #resumentabla th {
            border-color: #252627 !important;
            background: white !important;
            line-height: 15px !important;
        }

        #otrosub th {
            border-color: #252627 !important;
            background: white !important;
            line-height: 15px !important;
        }

        #encabezadostabla th {
            border-color: #252627 !important;
            line-height: 15px !important;
        }

        #totalingresotabla th {
            border-color: #252627 !important;
            line-height: 15px !important;
        }

        #totalgastotabla th {
            border-color: #252627 !important;
            line-height: 15px !important;
        }

        #totalcostotabla th {
            border-color: #252627 !important;
            line-height: 15px !important;
        }

        #totalotrotabla th {
            border-color: #252627 !important;
            line-height: 15px !important;
        }

        .tipos {
            font-size: medium !important;
            font-weight: bold !important;
            font-style: italic !important;
        }


        .table {
            border-color: #252627 !important;
            margin-bottom: 0px !important;
        }

        @@media screen and (max-width: 767px) {
            .imprimir {
                display: none;
            }
        }
    </style>

</head>

@Html.HiddenFor(model => model.IdWorksheet)



    <table class="table table-condensed table-bordered ">

        <thead>
            <tr class="text-center tipos thStyleGradient2 bordesRedond">
                <th class="text-center">
                    N° Planilla
                </th>

                <th class="text-center">
                    Período
                </th>
            </tr>
        </thead>
        <tbody>
            <tr style="font-weight: bold">
                <td class="text-center">
                    @Html.DisplayFor(model => model.IdWorksheet)
                </td>
                <td class="text-center">
                    @{
                        var month = System.Globalization.CultureInfo.CurrentUICulture.DateTimeFormat.GetMonthName(Model.Date.Month) + " " + Model.Date.Year;


                        @Html.EditorFor(model => month, new { htmlAttributes = new { @class = "mes", @readonly = "readonly" } })


                    }
                </td>
            </tr>
        </tbody>

    </table>
    <hr style="margin-top: 2px; margin-bottom: 5px; border-style: dotted" />

    <table id="encabezadostabla" class="table table-condensed table-bordered " style="margin-bottom: 2px">
        <thead>
            <tr class="text-center thStyleGradient3">
                <th class="text-left" style="width: 40%;">
                    Transacción
                </th>
                <th class="text-left" style="width: 40%">
                    Observación
                </th>

                <th class="text-center" style="width: 20%">
                    Monto ($)
                </th>

            </tr>
        </thead>
    </table>

    @*<hr style="margin-top: 2px; margin-bottom: 5px; border-style: dashed" />*@
    <legend class="thStyleGradient bordesRedond3 tipos col-lg-12 ">
        Ingresos
    </legend>

    <table id="ingresotabla" class="table table-condensed table-bordered ">

        <tbody id="ingreso">



            @foreach (var item in Model.Sheets)
            {
                if (item.SheetType == SistemaRentabilidad.Models.SheetType.Ingreso)
                {

                    <tr>
                        <td style="width: 40%;">
                            @Html.DisplayFor(modelItem => item.SheetDescription)


                        </td>
                        <td style="width: 40%;">
                            @Html.DisplayFor(modelItem => item.Comments)
                        </td>
                        <td class="montocentrado">
                            @Html.DisplayFor(modelItem => item.Amount)


                        </td>

                    </tr>
                }
            }
        </tbody>

    </table>
    <table id="totalingresotabla" class="table table-condensed table-bordered tottable" style="margin-bottom: 10px">
        <thead>
            <tr class="text-center" style="background: none">
                <th class="text-left" style="width: 40%; border-bottom: hidden; border-top: hidden;border-left:hidden">

                </th>
                <th class="text-right" style="width: 40%; font-weight: bolder;border-bottom: hidden; border-top: hidden; border-left: hidden;font-style: italic;font-size: medium;">
                    Subtotal
                </th>

                <th class="text-left totalView montocentrado" id="toting" style="background: khaki;">
                    @Html.DisplayFor(model => model.Totali)
                </th>
                <th style="width: 2%;border-bottom: hidden; border-top: hidden;border-right:hidden">

                </th>

            </tr>
        </thead>
    </table>
    <hr style="margin-top: 2px; margin-bottom: 5px; border-style: dashed" />

    <legend class="thStyleGradient bordesRedond3 tipos col-lg-12 ">
        Costos
    </legend>
    <table id="costotabla" class="table table-condensed table-bordered ">

        <tbody id="costo">

            @foreach (var item in Model.Sheets)
            {
                if (item.SheetType == SistemaRentabilidad.Models.SheetType.Costo)
                {

                    <tr>
                        <td style="width: 40%;">
                            @Html.DisplayFor(modelItem => item.SheetDescription)


                        </td>
                        <td style="width: 40%;">
                            @Html.DisplayFor(modelItem => item.Comments)
                        </td>
                        <td class="montocentrado">
                            @Html.DisplayFor(modelItem => item.Amount)


                        </td>

                    </tr>
                }
            }
        </tbody>

    </table>
    <table id="totalcostotabla" class="table table-condensed table-bordered tottable" style="margin-bottom: 10px">
        <thead>
            <tr class="text-center" style="background: none">
                <th class="text-left" style="width: 40%; border-bottom: hidden; border-top: hidden;border-left:hidden">

                </th>
                <th class="text-right" style="width: 40%; font-weight: bolder;border-bottom: hidden; border-top: hidden; border-left: hidden;font-style: italic;font-size: medium;">
                    Subtotal
                </th>

                <th class="text-left totalView montocentrado" id="totcos" style="background: khaki;">
                    @Html.DisplayFor(model => model.Totalc)
                </th>
                <th style="width: 2%;border-bottom: hidden; border-top: hidden;border-right:hidden">

                </th>

            </tr>
        </thead>
    </table>
    <hr style="margin-top: 2px; margin-bottom: 5px; border-style: dashed" />

    <legend class="thStyleGradient bordesRedond3 tipos col-lg-12 ">
        Gastos
    </legend>
    <table id="gastotabla" class="table table-condensed table-bordered ">

        <tbody id="gasto">

            @foreach (var item in Model.Sheets)
            {
                if (item.SheetType == SistemaRentabilidad.Models.SheetType.Gasto)
                {
                    <tr>
                        <td style="width: 40%;">
                            @Html.DisplayFor(modelItem => item.SheetDescription)

                        </td>
                        <td style="width: 40%;">
                            @Html.DisplayFor(modelItem => item.Comments)
                        </td>
                        <td class="montocentrado">
                            @Html.DisplayFor(modelItem => item.Amount)


                        </td>

                    </tr>
                }
            }
        </tbody>

    </table>
    <table id="totalgastotabla" class="table table-condensed table-bordered tottable" style="margin-bottom: 10px">
        <thead>
            <tr class="text-center" style="background: none">
                <th class="text-left" style="width: 40%; border-bottom: hidden; border-top: hidden;border-left:hidden">

                </th>
                <th class="text-right" style="width: 40%; font-weight: bolder;border-bottom: hidden; border-top: hidden; border-left: hidden;font-style: italic;font-size: medium;">
                    Subtotal
                </th>

                <th class="text-left totalView montocentrado" id="totgas" style="background: khaki;">
                    @Html.DisplayFor(model => model.Totalg)
                </th>
                <th style="width: 2%;border-bottom: hidden; border-top: hidden;border-right:hidden">

                </th>

            </tr>
        </thead>
    </table>
    <hr style="margin-top: 2px; margin-bottom: 5px; border-style: dashed" />
    <legend class="thStyleGradient bordesRedond3 tipos col-lg-12 ">
        Otros ingresos
    </legend>
    <table id="otrotabla" class="table table-condensed table-bordered ">

        <tbody id="otro">

            @foreach (var item in Model.Sheets)
            {
                if (item.SheetType == SistemaRentabilidad.Models.SheetType.OtroIngreso)
                {

                    <tr>
                        <td style="width: 40%;">
                            @Html.DisplayFor(modelItem => item.SheetDescription)


                        </td>
                        <td style="width: 40%;">
                            @Html.DisplayFor(modelItem => item.Comments)
                        </td>
                        <td class="montocentrado">
                            @Html.DisplayFor(modelItem => item.Amount)


                        </td>

                    </tr>
                }
            }
        </tbody>
    </table>
    <table id="totalotrotabla" class="table table-condensed table-bordered  tottable" style="margin-bottom: 10px">
        <thead>
            <tr class="text-center" style="background: none">
                <th class="text-left" style="width: 40%; border-bottom: hidden; border-top: hidden;border-left:hidden">

                </th>
                <th class="text-right" style="width: 40%; font-weight: bolder;border-bottom: hidden; border-top: hidden; border-left: hidden;font-style: italic;font-size: medium;">
                    Subtotal
                </th>

                <th class="text-left totalView montocentrado" id="tototr" style="background: khaki;">
                    @Html.DisplayFor(model => model.Totalo)
                </th>
                <th style="width: 2%;border-bottom: hidden; border-top: hidden;border-right:hidden">

                </th>

            </tr>
        </thead>
    </table>

    <hr style="margin-top: 2px; margin-bottom: 5px; border-style: dashed" />
    <legend class="tipos text-center thStyleGradient2 bordesRedond ">
        Resumen
    </legend>
    <table class="table table-condensed   table-bordered " style="table-layout: fixed">

        <thead>
            <tr class="text-center thStyleGradient3 tipos">
                <td style="width: 80%" class="text-left">
                    Obs. Grales.
                </td>
                <td class="text-center">
                    Total
                </td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td style="width: 80%;overflow-wrap: break-word;">
                    @Html.DisplayFor(model => model.Comments)


                </td>
                <td class="totalView" style="font-weight: bold; background:khaki">
                    @Html.DisplayFor(model => model.TotalAmount)
                    <span class="text-danger" style="display: block"></span>
                </td>
            </tr>

        </tbody>

    </table>






<div>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div style="width: 100%; display: flex; margin-top: 2%">
            <div style="width: 25%; text-align: left">
                <a href="@Url.Action("Index", "Worksheets")" class="btn btn-primary btn-md"><span class="glyphicon glyphicon-hand-left " aria-hidden="true"></span>&nbsp; Volver</a>
            </div>
            <div style="width: 50%; text-align: center">
                <button type="submit" value="Eliminar" id="submit" class="btn btn-danger btn-block">
                    Eliminar <span class="glyphicon glyphicon-trash"></span>
                </button>
            </div>
            <div style="width: 25%"></div>
        </div>

    }
</div>

<div id="GSCCModal" class="modal fade" role="dialog"
     aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content" style="width: 80%; right: -10%">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true" style="font-size: xx-large">&times;</button>
                <h4 class="modal-title text-center">Ayuda</h4>
            </div>
            <div class="modal-body">
                <h3 class="text-center" style="color:red">IMPORTANTE</h3>
                <div class="text-center">
                    <text>Al eliminar una Planilla no será posible recuperarla.</text>
                </div>
            </div>
            <div class="modal-footer" style="text-align: center">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Cerrar</button>
            </div>
        </div>

    </div>

</div>

