
@{
    Layout = null;
}

<h4 class="text-center" style="margin-top: 0">Aquí le mostraremos como generar su Planilla de manera sencilla y rápida</h4>

<h5 class="text-center" style="margin-left: 5%; margin-right: 5%">En esta pantalla encontrará todas las transacciones predefinidas anteriormente ubicadas en su lista correspondiente, solo complete los campos faltantes necesarios en cada una de ellas.</h5>
<div><img src="@Url.Content("~/Content/Images/Transacciones.jpg")" width="96%" style="margin-left: 2%"/></div>
<div class="text-center" style="margin-top: 2%"><text>Para eliminar una transacción solo haga click sobre</text>&nbsp;<span class="glyphicon glyphicon-remove" style="color: red" aria-hidden="true"></span>&nbsp;<text>que se encuentra a la derecha de la misma.</text>
</div>
<hr style="border-color: #e5e5e5; margin-top: 1%" />
<div Class="text-center" style="margin-left: 5%; margin-right: 5%; margin-top: 1%"><text>Para agregar una nueva transacción por única vez a la Planilla utilice la funcionalidad "Nueva entrada". Seleccione el tipo de transacción, complete los campos y solo haga click sobre</text>&nbsp;<span class="btn-xs btn-success glyphicon glyphicon-plus" aria-hidden="true"></span><text>. Esta transacción no se incluirá como transacción predefinida en las siguientes Planillas que vaya a crear.</text>
</div>
<div><img src="@Url.Content("~/Content/Images/NuevaEntrada.jpg")" style="margin-top: 1%; margin-left: 2%; width: 96%"/>
</div>
<hr style="border-color: #e5e5e5; margin-top: 1%" />
<div class="row" style="margin-top: 2%; margin-left: 1%">
    <div class="col-lg-7">
        <h5>Para finalizar solo haga click en "Guardar" al final de la pantalla</h5>
    </div>
    <div class="col-lg-3">
        <div class="btn btn-success">Guardar <span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span></div>
    </div>
</div>


@*<div class="row">
    <div class="col-lg-1"></div>
    <div class="col-lg-6">
        <text>Para comenzar a agregar transacciones a su Planilla, en la sección de Nueva Entrada seleccione en el campo Tipo la clase de transacción que desee registrar</text> 
    </div>
    <div class="col-lg-4 text-center">
        <div><img src="@Url.Content("~/Content/Images/Tipo.jpg")" style="width: 60%"/></div>
    </div>
</div>
<hr style="border-color: #e5e5e5" />
<div class="row">
    <div class="col-lg-1"></div>
    <div class="col-lg-6">
        <h5>Ingrese en el campo Transacción un título que lo ayude a identificar la transacción realizada.</h5>
    </div>
    <div class="col-lg-4 text-center">
        <div><img src="@Url.Content("~/Content/Images/TransaccionCreate.jpg")" style="width: 84%"/></div>
    </div>
</div>
<hr style="border-color: #e5e5e5" />
<div class="row">
    <div class="col-lg-1"></div>
    <div class="col-lg-6">
        <h5>Ingrese en el campo Observación alguna aclaración que usted necesite recordarla (Opcional).</h5>
    </div>
    <div class="col-lg-4 text-center">
        <div><img src="@Url.Content("~/Content/Images/Observación.jpg")" style="width: 89%"/></div>
    </div>
</div>
<hr style="border-color: #e5e5e5" />
<div class="row">
    <div class="col-lg-1"></div>
    <div class="col-lg-6">
        <text>Ingrese en el campo Monto la cantidad de dinero (en pesos) que implicó la transacción. Luego, haga click sobre el botón</text>&nbsp;<div class="btn btn-success btn-xs"><span style="color: white"></span><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></div>&nbsp;<text>de la derecha para añadir la transacción a la lista correspondiente.</text>
    </div>
    <div class="col-lg-4 text-center">
        <div><img src="@Url.Content("~/Content/Images/Monto.jpg")" style="width: 30%"/></div>
    </div>
</div>
<hr style="border-color: #e5e5e5" />

<div class="row">
    <div class="col-lg-1"></div>
    <div class="col-lg-6">
        <h5>Para eliminar de la lista cualquier transacción que desee, solo haga click sobre la "x" que se encuentra a la derecha de dicha transacción.</h5>
    </div>
    <div class="col-lg-4 text-center">
        <div><img src="@Url.Content("~/Content/Images/x.jpg")" /></div>
    </div>
</div>
<hr style="border-color: #e5e5e5" />
<div class="row">
    <div class="col-lg-1"></div>
    <div class="col-lg-6">
        <h5>Ingrese en el campo Observaciones de la sección Resumen aclaraciones necesarias sobre la Planilla en general (Opcional)</h5>
    </div>
    <div class="col-lg-4 text-center">
        <div><img src="@Url.Content("~/Content/Images/ObservacionesGrales.jpg")" style="width: 88%"/></div>
    </div>
</div>
<hr style="border-color: #e5e5e5" />
<div class="row">
    <div class="col-lg-1"></div>
    <div class="col-lg-6">
        <h5>Finalmente para guardar su Planilla haga click sobre "Guardar" en la parte inferior de la página.</h5>
    </div>
    <div class="col-lg-4 text-center" style="margin-top: 8px">
        <div class="btn text-center" style="background-color:#30b238; color:white"><span style="color:white">Guardar &nbsp;</span><span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span></div>
    </div>
</div>*@




