
@{
    ViewBag.Title = "Estadísticas";
}
<head>

    <style>
        .bootstrap-select {
            width: 100% !important;
        }

        @@media (max-width: 767px) {
            .izq {
                text-align: left !important;
            }
        }

     
    </style>
</head>


<h2 class="text-center">Estadísticas</h2>
<hr />
<div>
    @using (Ajax.BeginForm("_Graphic", "Statistics",
                new AjaxOptions
                {
                    InsertionMode = InsertionMode.Replace,
                    UpdateTargetId = "ajaxBeginFormResult",

                    OnSuccess = "OnSuccess",
                    LoadingElementId = "loader"
                },
            new { id = "FormName" }))


    {
        @Html.AntiForgeryToken()
        <div class="hidden-print">
            @*<div class="row">
                    <div class="col-lg-1"></div>
                    <h3 class="col-lg-4" style="margin-top: 0px">Ingrese rango de fechas</h3>
                </div>*@
            <div class="row form-horizontal">
                <div class="col-sm-3" style="display: flex">
                    <select id="select" class="selectpicker show-tick" name="selectedStat" title="Seleccione tipo..." required="required" style="width: 100%">
                        <option value="Ingresos">Ingresos</option>
                        <option value="Gastos">Gastos</option>
                        <option value="Costos">Costos</option>
                        <option value="OtrosIng">Otros ingresos</option>
                        <option value="TotIng">Total ingresos</option>
                        <option value="TotMens">Total mensual</option>
                    </select>
                </div>
                <div class="col-sm-1" style="padding-right: 0px"> <h4 class="text-right izq">Desde:</h4></div>
                <div class="col-sm-2">
                    <input id='from' class="form-control text-left" style="width: 100%" type="number" required name='fecha1' max="2999" min="2000" data-rule-menor="true" placeholder="año inicio" />
                </div>

                <div class="col-sm-1" style="padding-right: 0px">
                    <h4 class="text-right izq">Hasta:</h4>
                </div>
                <div class="col-sm-2">
                    <input id='to' type="number" class="form-control text-left" style="width: 100%" name='fecha2' max="2999" min="2000" placeholder="año fin" />
                </div>

                <div class="col-sm-2">
                    <button type="submit" onclick="ordenFechas(); maxTen()" onfocus="cargar()" class="btn btn-success text-center" style="width: 100%">
                        Generar&nbsp;<span class="glyphicon glyphicon-stats" aria-hidden="true"></span>
                    </button>
                </div>


                @*<input type='submit' onclick="ordenFechas(); maxTen();" onfocus="cargar()" value='Generar' class="btn btn-success col-lg-1"/>*@
                <div class="col-sm-1"></div>

            </div>
            <div class="text-center">
                <span id="spanOrdenFechas" class="text-danger"></span>
            </div>

        </div>
    }



    <div class="text-center" id="ajaxBeginFormResult"></div>

    <div id="GSCCModal" class="modal fade" id="myModal" role="dialog"
         aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog" style="width: 100%">
            <div class="modal-content" style="width: 70%; left: 15%">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true" style="font-size: xx-large">&times;</button>
                    <h4 class="modal-title text-center">Ayuda</h4>
                </div>
                <div class="modal-body">

                    <div>
                        <h4 class="text-center">Utilice esta sección para visualizar las transacciones realizadas en un período determinado</h4>

                        <br />
                        <div class="row">
                            <div class="col-lg-1"></div>
                            <div class="col-lg-4">
                                <h5>Seleccione sobre qué valores de Planillas desea obtener el reporte.</h5>
                            </div>
                            <div class="col-lg-1"></div>
                            <div class="col-lg-4" style="margin-left: -2%">
                                <div><img src="@Url.Content("~/Content/Images/SelectType.jpg")" style="width: 80%" /></div>
                            </div>
                        </div>
                        <hr style="border-color: #e5e5e5" />
                        <div class="row">
                            <div class="col-lg-1"></div>
                            <div class="col-lg-4">
                                <h5>Ingrese el período del que desea obtener el reporte colocando en el primer casillero el año de inicio, y en el segundo el año de finalización.</h5>
                            </div>
                            <div class="col-lg-1"></div>
                            <div class="col-lg-5" style="margin-left: -2%">
                                <div><img src="@Url.Content("~/Content/Images/InicioFin.jpg")" style="width: 100%" /></div>
                            </div>
                        </div>

                        <hr style="border-color: #e5e5e5" />
                        <div class="row">
                            <div class="col-lg-1"></div>
                            <div class="col-lg-4">
                                <h5>Luego, solo haga click sobre el botón "Generar".</h5>
                            </div>
                            <div class="col-lg-1"></div>
                            <div class="col-lg-4" style="margin-left: -2%">
                                <div class="btn btn-success" style="width: 60%">Generar <span class="glyphicon glyphicon-stats" aria-hidden="true"></span></div>
                            </div>
                        </div>
                        <hr style="border-color: #e5e5e5" />
                        <h4 class="text-center" style="margin-top: 12px">El gráfico representa las transacciones a lo largo del año.</h4>
                        <h4 class="text-center">Las transacciones se muestran en función del monto por período del año.</h4>
                        <div class="text-center">
                            <img src="@Url.Content("~/Content/Images/GraficoEstadisticas.jpg")" style="width: 70%" />
                        </div>
                        <br />
                        <h4 class="text-center">A la derecha del gráfico se indican los colores de representación del año evaluado.</h4>
                        <hr style="border-color: #e5e5e5" />
                        <h4 class="text-center">Debajo encontraremos la lista de Planillas que fueron tomadas en el reporte realizado</h4>
                        <div class="text-center">
                            <img src="@Url.Content("~/Content/Images/PlanillasIncidentes.jpg")" style="width: 80%" />
                        </div>
                    </div>
                </div>
                <div class="modal-footer" style="text-align: center">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>

                </div>

            </div>

        </div>

    </div>
</div>


<script type="text/javascript" language="javascript" src='@Url.Content("~/Scripts/bootstrap.min.js")'></script>
<script type="text/javascript" language="javascript" src='@Url.Content("/Scripts/jquery-1.12.4.min.js")'></script>
<script>
        $("body").on("click", "a.dialog-window", null, function (e) {
        e.preventDefault();

        var $link = $(this); // Reference to <a/> link
        var title = $link.text(); //this is title to fetch in htnl
        $('#myModal.modal-title').html(title);

        var url = $(this).attr('href');
        if (url.indexOf('#') == 0) {
            $('#myModal').modal('show');
        }
        else {
            $.get(url, function (data) {
                $('#myModal .te').html(data);
                $('#myModal').modal();
            }).success(function () { $('input:text:visible:first').focus(); });
        }
    });

    $(document).ready(function() {

        $('.selectpicker').selectpicker({
            size: 6,
            style: 'btn-info'
        });
        $("#loader").hide();


        $("body").on("click", "a.dialog-window2", null, function (e) {
            e.preventDefault();
            jQuery.noConflict();
            var $link = $(this); // Reference to <a/> link
            var title = $link.text(); //this is title to fetch in htnl
            $('#myModal2 .modal-title').html(title);

            var url = $(this).attr('href');
            if (url.indexOf('#') == 0) {
                $('#myModal2').modal('show');
            }
            else {
                $.get(url, function (data) {
                    $('#myModal2 .te').html(data);
                    $('#myModal2').modal();
                }).success(function () { $('input:text:visible:first').focus(); });
            }
        });

        $("body").on("click", "a.dialog-window4", null, function (e) {
            e.preventDefault();
            var $link = $(this); // Reference to <a/> link
            var title = $link.text(); //this is title to fetch in htnl
            $('#myModal4 .modal-title').html(title);

            var url = $(this).attr('href');
            if (url.indexOf('#') == 0) {
                $('#myModal4').modal('show');
            }
            else {
                $.get(url, function (data) {
                    $('#myModal4 .te').html(data);
                    $('#myModal4').modal();
                }).success(function () { $('input:text:visible:first').focus(); });
            }
        });









    });

    function maxTen() {
        var inicio = parseInt($('#from').val());
        var fin = parseInt($('#to').val());
        var dif = fin - inicio;

        if (dif > 10) {
            $('#spanOrdenFechas').text("Disculpe, sólo puede haber diez (10) años de diferencia entre el inicio y el fin.");
            event.preventDefault();
        }

        //if ($('#select').val() != '' & dif < 11 & fin >= inicio) {
        //    $('#ocultar').addClass('hidden');
        //}
    }


</script>

